@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Raleway:wght@500&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  background: whitesmoke;
}

* {
  font-family: Dosis, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font: size 40px;
  letter-spacing: 4px;
}

#srcInfo {
  background-color: rgb(228, 222, 222);
  width: 120px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  font-weight: bold;
  color: black;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.2;
  cursor: pointer;
}
#srcInfo:hover {
  opacity: 1;
}

#srcInfo .body {
  padding: 10px;
  display: flex;
}

#srcInfo .body p {
  margin: 0;
  padding: 0;
}

#srcInfo .body #pSrcInfo {
  margin-left: 10px;
  color: green;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: grba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputSearch {
  font-weight: bold;
}

#requestInfo {
  width: 30%;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

/* image container */
.image-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.image-container img {
  max-width: 90%;
  margin: 10px auto;
}

.image-container a {
  width: 50%;
}

.form-control {
  margin: 0 auto;
  width: 50%;
}

.btn {
  margin: 0 auto;
  width: 50%;
}

/* media query */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .form-control {
    margin: 0 auto;
    width: 80%;
  }

  .btn {
    margin: 0 auto;
    width: 80%;
  }

  .image-container {
    flex-flow: column;
  }

  .image-container a {
    width: 100%;
  }

  .image-container a img {
    width: 100%;
    margin: 10px 14px;
  }

  #srcInfo {
    top: 90%;
  }
}
